@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.homepage {
  background-image: url("../public/background\ 20.jpg");
  /* background-color: aqua; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-1 {
  display: grid;
  grid-template-rows: auto 4fr 1fr auto;
}
