@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
/* html {
  scroll-snap-type: y mandatory;
} */

.homepage {
  background-image: url("../public/background 20.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 10px;
  display: none;
}
.music-sidebar::-webkit-scrollbar {
  display: block;
}
.kanban-board::-webkit-scrollbar {
  display: block;
  height: 10px;
}
.kanban-list-scroll::-webkit-scrollbar {
  display: block;
  width: 5px;
  height: 0;
}
.reminders-list::-webkit-scrollbar {
  display: block;
  width: 10px;
}
.kanban-list-scroll::-webkit-scrollbar-thumb {
  background: rgba(19, 19, 19, 0.302);
  border-radius: 5px;
}
.music-sidebar::-webkit-scrollbar-thumb {
  background: rgba(19, 19, 19, 0.535);
  border-radius: 5px;
}
.kanban-board::-webkit-scrollbar-thumb {
  background: rgba(19, 19, 19, 0.535);
  border-radius: 5px;
}
.reminders-list::-webkit-scrollbar-thumb {
  background: rgba(19, 19, 19, 0.535);
}

::-webkit-scrollbar-corner {
  display: none;
}

section {
  scroll-snap-align: start;
  /* scroll-snap-stop: always; */
}

.page-1 {
  display: grid;
  grid-template-rows: auto 4fr 1fr auto;
}
